<ion-view>
    <ion-content class="has-header" scroll="false">
        <div class="div-content list">
            <div class="content-top item item-borderless" >
                <ion-slide-box class="slide-style" >
                    <ion-slide ng-repeat="image in images" >
                        <img class="top-image-style" ng-src="{{image.path}}">
                    </ion-slide>
                </ion-slide-box>

            </div >
            <div class="content-center item item-divider item-text-wrap item-borderless" >
                <p class="item-p-style">53度金不换天生富贵30原浆1000ml浓香型白酒&nbsp;安微名酒</p>
            </div>
            <div class="content-bottom item item-borderless" >
                <div class="bottom-content-detail">
                    <div class="row">
                        <div class="col">
                            <h1 class="font-large-style">¥249.00</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="item-bottom-style">价格<span class="font-decoration">¥338</span></p>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col"><p class="item-p-style">快递：0.00</p> </div>
                        <div class="col"><p class="item-p-style">月销量29件</p> </div>
                    </div>
                </div>

            </div>

        </div>
    </ion-content>
</ion-view>

